<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Front Page</title>
    <%- include('pdf-front-page-styling.ejs') -%>
  </head>
  <body>
    <div class="pdf-first-page-container">
      <img class="report-logo" />
      <span class="report-name"></span>
      <div class="report-gen-date"></div>
    </div>
  </body>
</html>
