<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Expandable Table Portlet</title>
    <%- include('../header/header-styling.ejs') -%> <%-
    include('expandable-table-portlet-styling.ejs') -%>
  </head>
  <body>
    <div class="expandable-table-header">
      <h1 class="expandable-table-title"></h1>
    </div>
    <div class="expandable-table-header-bottom"></div>
    <div class="expandable-table-container"></div>
    <div class="extra-message">No Data Available</div>
  </body>
</html>
